.App {
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.chats{
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #70c3da;
}

.text{
  color: rgb(11, 194, 235);
  text-decoration: none;
}
.btn{
  margin-right: 10px;
}

.text:hover{
  color: white;
}
.user-btn{
  margin-right: 5px;
}
.input-form{
  padding: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
