body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.chat-list{
  display: flex;
  flex-direction: row;
}
.delete-chats{
  width: 30%;
  color: white;
  background-color: rgb(238, 68, 68);
  border-color: rgb(238, 68, 68);

}
.btn-color{
  border-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  color: beige;
}


.MuiButton-root{
  padding: 16px 15px;
}
.form-control{
  width: 30%;
}
